:root {
  --base-color: #854836;
  --primary-color: #FFB22C;
  --secondary-color: #F7F7F7;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #854836;
}