.banner__section {
  color: #854836;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.banner__section-heading {
  margin: 0 auto;
  font-size: 3rem;
  padding-bottom: 2.125rem;
  font-weight: 700;
  max-width: 34rem;
}

.banner__section-highlight {
  color: var(--primary-color)
}

.banner__section-description {
  margin: 0 auto;
  font-size: 1.25rem;
  max-width: 34rem;
  padding-bottom: 4rem;
}

.image-intro {
  height: 18rem;
  background-image: url('../images/bg-coffee.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.button {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
}

.button-explore {
  border: none;
  margin: 0 auto;
  margin-top: 1.5rem;
  color: var(--base-color);
  margin-bottom: 1.5rem;
}

.button-explore:hover {
  color: var(--primary-color);
}

.button-explore__content-label {
  font-weight: 600;
}

.button-explore__content-icon {
    margin-top: 0.7rem;
}

.button-show-trivia {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 2rem;
}

.button-show-trivia:hover {
  color: #fff;
  background-color: var(--base-color);
}

.section {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section:nth-child(odd) {
  background-color: #fff;
}

.section__title {
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 2rem;
}

.section__description {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section__content {
  height: 40rem;
  width: 75rem;
  max-width: 75rem;
  /* background-color: yellowgreen; */
  margin: 0 auto;
  display: flex;
  position: relative;
}

.section:nth-child(odd) .section__content {
  flex-direction: row-reverse;
}

.section__left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 1rem; */
}

.section__right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* vertical line timeline */
.section__left::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--base-color);
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -3px;
}

/* timeline circle */
.section__left::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  background-color: var(--primary-color);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
  margin-right: -12px;
}

.section:nth-child(odd) .section__left::before {
  right: unset;
  left: 1px;
}

.section:nth-child(odd) .section__left::after {
  right: unset;
  left: 1px;
  margin-right: unset;
  margin-left: -15px;
}

.section:nth-child(2) .section__left::before {
  top: 50%;
}

.section:nth-child(6) .section__left::before {
  bottom: 50%;
}

.section__content-image img {
  width: 28rem;
  height: auto;
}

.section__content-closing {
  text-align: center;
  padding-bottom: 5rem;
  height: auto;
}

/* 
* Mobile styles below
*/

@media (min-width: 0px) and (max-width: 767.98px) {
  /* Styles for sm only */
  .banner__section {
    padding: 1rem;
  }

  .section__title {
    font-size: 1.5rem;
  }

  .section__description {
    font-size: 1rem;
    width: auto;
  }

  .section {
    height: auto;
  }

  .banner__section-heading {
    font-size: 2rem;
  }

  .banner__section-description {
    font-size: 1.125rem;
  }

  .image-intro {
    height: 19.3125rem;
  }

  .section__content {
    flex-wrap: wrap;
    height: auto;
  }

  .section__left {
    width: 100%;
    padding: 2rem;
  }

  .section__right {
    width: 100%;
  }

  .section__content-image {
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
  .section__content-image img {
    width: 100%;
    height: auto;
  }

  /* vertical line timeline */
  .section__left::before {
    left: 30px;
  }

  /* timeline circle */
  .section__left::after {
    left: 14px;
  }

  /* (image) vertical line timeline */
  .section__right::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--base-color);
    top: 0;
    bottom: 0;
    left: 30px;
    margin-left: -3px;
  }

  .section:nth-child(odd) .section__left::before {
    right: unset;
    left: 30px;
    margin-left: -3px;
  }

  .section:nth-child(odd) .section__left::after {
    right: unset;
    left: 1px;
    margin-right: unset;
    margin-left: 14px;
  }

  .section:nth-child(6) .section__right::before {
    display: none;
  }

  .section__content-video {
    padding: 2rem;
    padding-left: 4rem;
  }

  .section__content-video iframe {
    width: 100%;
  }

  .section:nth-child(7) {
    padding-bottom: 10rem;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for md only */
  .section__content-image {
    padding: 2rem;
  }
  .section__content-image img {
    width: 100%;
    height: auto;
  }

  .section__content-video iframe {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for lg only */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Styles for xl only */
}