@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('./normalize.min.css'); /* reset css */
@import url('./utility.css');
@import url('./base.css');
@import url('./popup.css');
@import url('./landing-page.css');